AI_DATABASE_URL=sqlite:///./data/ai_growth_engine.db
AI_CORS_ORIGINS=http://localhost:5173
GIGACHAT_CLIENT_ID=
GIGACHAT_CLIENT_SECRET=
AI_GIGACHAT_SCOPE=GIGACHAT_API_PERS
AI_GIGACHAT_MODEL=GigaChat-2-Max
AI_GIGACHAT_BATCH_SIZE=15
AI_GIGACHAT_CA_BUNDLE=
AI_WORDSTAT_API_KEY=
AI_YANDEX_FOLDER_ID=
AI_WORDSTAT_MAX_REQUESTS_PER_RUN=5
WEBMASTER_OAUTH_TOKEN=
METRIKA_OAUTH_TOKEN=
METRIKA_COUNTER_ID=
